article > div {
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 700px) {
    article > div {
        display: flex;
        flex-direction: column-reverse;
    }

    article > div n:nth-child(even) {
        display: flex;
        flex-direction: column;
    }

    nav {
        justify-content: flex-start;
    }

    nav > div {
        flex-direction: column;
    }

    nav > div > p,
    nav > div > a {
        font-size: 12px;
        margin: 0;
    }

    nav > div > p:nth-child(2),
    nav > div > p:nth-child(4) {
        display: none;
    }
}