article > div {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.spacer {
    flex-grow: 1;
}